<!DOCTYPE html>
<html lang="zh">
<head>
  <title>速职-关于我们</title>
  <% include ../include/meta.html %>
    <% include ../include/css_common.html %>
</head>
<body>
  <!-- header -->
  <% include ../include/header.html %>
  <!--end #header-->
  <!-- 顶部宣传 -->
  <div id="top_extension">
    <div class="top_slogan">
      关于我们
    </div>
  </div>
  <!-- 页面主体START -->
  <div id="content_container">
    <!-- 项目列表 -->
    <div id="project_content">
      <div class="tabs_list">
        <a href="#" class="active" data-lg-tj-id="1Pn0" data-lg-tj-no="0001" data-lg-tj-cid="idnull">团队介绍</a>
      </div>
      <div class="person_list_efficiency">
  		<h4 class="free_h4">交付型专家</h4>
  		<div class="list_efficiency">
  			<ul>
  				<li>
  					<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" href="javascript:void(0);" data-lg-tj-no="0001" data-lg-tj-cid="384780878">
  						<img class="head_pic" title="1" width="285" height="190" src="/static/images/s5.jpeg">
  						<div class="bg"></div>
  						<div class="category"><span>品牌战略</span><span>广告公关</span><span>创意运营</span></div>
  						<div class="title">Nesta<span class="self_title"> / 品牌总监</span></div>
  						<p class="profile">4A熏染，历任互联网企业市场主管。</p>
  					</a>
  				</li>
				<li>
  					<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" href="javascript:void(0);" data-lg-tj-no="0002" data-lg-tj-cid="479201252">
  						<img class="head_pic" width="285" height="190" src="/static/images/s1.jpeg">
  						<div class="bg"></div>
  						<div class="category"><span>品牌设计</span><span>产品设计</span></div>
  						<div class="title">大宝<span class="self_title"> / 腾讯资深设计师</span></div>
  						<p class="profile">负责腾讯多个频道的视觉产品工作。</p>
  					</a>
  				</li>
				<li>
  					<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" href="javascript:void(0);" data-lg-tj-no="0003" data-lg-tj-cid="1084253037">
  						<img class="head_pic" width="285" height="190" src="/static/images/s7.jpeg">
  						<div class="bg"></div>
  						<div class="category"><span>企业战略</span><span>品牌创意</span><span>市场推广</span></div>
  						<div class="title">霍庆功<span class="self_title"> / 爱折腾的品牌规划师</span></div>
  						<p class="profile">服务众多品牌，兼任多家初创公司顾问。</p>
  					</a>
  				</li>
				<li>
  					<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" href="javascript:void(0);" data-lg-tj-no="0004" data-lg-tj-cid="330063846">
  						<img class="head_pic" width="285" height="190" src="/static/images/s3.jpeg">
  						<div class="bg"></div>
  						<div class="category"><span>视频特效</span><span>动画设计</span><span>节目包装</span></div>
  						<div class="title">Yelena<span class="self_title"> / 高级视觉特效师</span></div>
  						<p class="profile">专注于电视媒体以及网络媒体视频制作。</p>
  					</a>
  				</li>
				<li>
  					<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" href="javascript:void(0);" data-lg-tj-no="0005" data-lg-tj-cid="1960361460">
  						<img class="head_pic" width="285" height="190" src="/static/images/s6.jpeg">
  						<div class="bg"></div>
  						<div class="category"><span>文案写作</span><span>品牌策划</span><span>创意执行</span></div>
  						<div class="title">豆宛<span class="self_title"> / 思维不靠谱的创意人</span></div>
  						<p class="profile">就职于顶级公关公司，靠谱的创意人。</p>
  					</a>
  				</li>
				<li>
  					<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" href="javascript:void(0);" data-lg-tj-no="0006" data-lg-tj-cid="773758294">
  						<img class="head_pic" width="285" height="190" src="/static/images/s2.jpeg">
  						<div class="bg"></div>
  						<div class="category"><span>平面设计</span><span>品牌形象</span><span>海娜手绘</span></div>
  						<div class="title">罗旖旎<span class="self_title"> / 资深平面设计师</span></div>
  						<p class="profile">服务众多客户，兼任初创公司创意总监。</p>
  					</a>
  				</li>
  			</ul>
			
  			<div class="efficiency_vertical">
  				<a target="_blank" rel="nofollow" data-lg-tj-id="1Pg0" data-lg-tj-no="0007" href="javascript:void(0);" data-lg-tj-cid="831715973">
  					<img class="head_pic" width="285" height="470px" src="/static/images/s4.jpeg">
  					<div class="category"><span>H5</span><span>小程序</span><span>后台产品</span></div>
  					<div class="title">Xhacker<span class="self_title"> / 会写代码的产品经理</span></div>
  					<p class="profile">亲手编码的CTO，为解决问题而生。</p>
  				</a>
  			</div>
			<div class="clear" style="clear:both;"></div>
  		</div>
  	</div>
	  
	  
	  
	  
	  
      <!-- 新增一 -->
      <div class="about-add-one">
        <div class="about-add-one-content">
          <div class="about-add-one-left fl">
            <img src="/static/images/90.jpg" alt="" style="width:280px; height:280px;">
          </div>
          <div class="about-add-one-right fr">
            90 后<br/> 我们是一个热血有时节操会稍稍掉线的创业团队
            <br/> 团队聚集了一群蛇精病BD、傲娇设计狮、稀有产品锦鲤、脑洞无限大运营喵 秉承着“做成别人做不到的事”的原则
            <br/> 力求打造一个让年轻人释放自己的脑洞，一旦遇见就无法自拔沦陷的科技公司
          </div>
        </div>
      </div>
      <!--  -->
      <!-- 新增二 -->
      <div class="content-wrap">
        <h2>公司历程</h2>
        <div class="event-tree" style="width:1140px;">
          <div class="tree-wrap">
            <div class="node-left">
              <div class="leaf-group">
                <span class="leaf"></span>
              </div>
              <div class="text-wrap">
                <p class="date">
                  <span class="year">2016年</span> 6月
                </p>
                <p class="event">速职项目正式启动</p>
              </div>
            </div>
            <div class="node-right">
              <div class="leaf-group">
                <span class="leaf"></span>
              </div>
              <div class="text-wrap">
                <p class="date">
                  <span class="year">2016</span> 年7月
                </p>
                <p class="event">速职帮助歪脸网招募到销售实习生，完成第一次招聘</p>
              </div>
            </div>
            <div class="node-left">
              <div class="leaf-group">
                <span class="leaf"></span>
              </div>
              <div class="text-wrap">
                <p class="date">
                  <span class="year">2016</span> 年8月
                </p>
                <p class="event">速职web app 1.0上线</p>
              </div>
            </div>
            <div class="node-right">
              <div class="leaf-group">
                <span class="leaf"></span>
              </div>
              <div class="text-wrap">
                <p class="date">
                  <span class="year">2014</span> 年9月
                </p>
                <p class="event">速职累计服务企业超出500家，累计招募兼职、实习、全职人次5000人，累计猎头1000个</p>
              </div>
            </div>
            <div class="node-left">
              <div class="leaf-group">
                <span class="leaf"></span>
              </div>
              <div class="text-wrap">
                <p class="date">
                  <span class="year">2016</span> 11月
                </p>
                <p class="event">
                  速职完成由澳创基金、聚募众筹联合注资的数百万投资、估值数千万
                </p>
              </div>
            </div>
            <div class="node-right">
              <div class="leaf-group">
                <span class="leaf"></span>
              </div>
              <div class="text-wrap">
                <p class="date">
                  <span class="year">2016</span> 年9月
                </p>
                <p class="event">
                  速职累计服务企业超出1000家，累计招募兼职、实习、全职人次10000人，累计猎头5000个
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
  <!-- 查看项目详情 -->
  <!-- 弹框看大图-->
  <div class="box-bg" style="display:none;" id="box-bg" onclick="guangbi()">
	<div class="big-icon" id="big-icon"><img src="" width="100%" /></div>
  </div>
  
  </div>
  
  <!-- 页面主体END -->
  <!-- 底部开始 -->
  <% include ../include/footer.html %>
  <!-- 底部结束 -->
  <script coolie src="../../static/js/libs/jquery/1.9.1/jquery.min.js"></script>
  <script coolie src="/node_modules/coolie.js/coolie.js" data-config="/static/js/coolie-config.js" data-main="/static/js/main/index.js"></script>
  </body>
</html>
<script>
	$(function(){
		$(".list_efficiency img").click(function(){
			var src=$(this).attr("src");
			$("#box-bg").attr("style","display:block");
			$("#big-icon img").attr('src',src);
			var height=$("#big-icon").height();
			$("#big-icon").css('margin-top',-height/2);
		});
	});
	function guangbi(){
		$("#box-bg").attr('style','display:none;');
	}
</script>
