<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-11 23:48
 -->
<html lang="zh">
<head>
    <!--coolie-->
    <link rel="stylesheet" href="/static/css/error.css"/>
    <!--/coolie-->
</head>
<body>
    <div class="clienterror">
        <div class="clienterror-left">
        	<img src="/static/images/new404.png" alt="404">
        </div>
        <div class="clienterror-right">
        	<p>哎哟，页面飘走了...<br/>一会再来吧</p>
        	<a class="btn-primary" href="/">回到首页</a>
        </div>
    </div>
</body>
</html>
