<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <title>91速职</title>
  <% include ../include/meta.html %>
  <% include ../include/css_common.html %>
</head>

<body class="index-body">
  <!-- 内容开始 -->
  <!-- header -->
  <div class="nav_banner">
    <!-- 头部开始 -->

    <% include ../include/header.html %>
      <!-- 头部结束 -->
      <div id="top_banner">
        <!-- <ul class="banner_list">
          <li class="focus lb-tu">
          </li>
        </ul> -->
        <% include ../include/banner.html %>
        <div class="layer"></div>
        <div class="slogan">一个以个人猎头为核心的人才供给平台</div>
        <div class="slogan_supply">年轻不是阻碍，知己亦是伯乐</div>
        <div class="btn_bar">
          <a href="#" class="join_btn" rel="nofollow" data-lg-tj-id="1Pd0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">成为猎头</a>
          <a href="#" class="create_btn" rel="nofollow" data-lg-tj-id="1Pe0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">企业入驻</a>
          <div class="erweima-kuang">
            <div class="kuang-content">
              <div class="close">X</div>
              <img src="/static/images/erweima.jpg" alt="">
              <p class="sm">扫码注册成为猎头</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- index新增一（循环圈） -->
  <div class="index-add-one">
    <h3>我们的平台</h3>
    <div class="our-pingtai">
      <div class="fl pingtai-left">
        <img src="/static/images/our-pingtai.png" alt="" style="width:300px;height:198px;">
      </div>
      <div class="fr pingtai-right">
        <div class="one-text">
          速职 一群怀揣着理想主义的现实主义年轻布道者，用理想拥抱世界，追逐着让年轻不再成为阻碍的意义。速职项目成立2016年6月，以高效招聘为切入口进入招聘市场，开展以兼职、实习、基层全职为核心的基层人才招聘。速职以个人猎头为前期业务核心，以速职为纽带，链接招人企业与个人猎头，开发个人人脉价值，以速职为中转站，重新定义社交价值，推动个体价值实现。
        </div>
      </div>
    </div>
  </div>
  <!-- index新增二 (个人猎头)-->
  <div class="index-add-lietou">
    <h3>个人猎头</h3>
    <div class="our-pingtai">
      <div class="fl pingtai-left">
        <img src="/static/images/a1.jpg" alt="" style="width:200px;height200px;">
      </div>
      <div class="fr pingtai-right">
        <div class="twp-text">
          <p>有没有基友跟你吐槽上司是傻逼，没法干了！</p>
          <p> 有没有闺蜜跟你说一怒之下离职，找工作了！</p>
          <p> 有没有学弟跟你说今年要毕业了，要实习了！</p>
          <p>速职，让年轻不再成为阻碍。</p>
          <p class="special-p">邀请你来当个人猎头了！</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 2-2 -->
  <div class="index-add-lietou-fu">
    <div class="grlt">
      【个人猎头】是速职产品中重要一员，以自己的人脉为核心，<br/>接取符合自己人脉特性的企业招聘订单，将合适的工作推荐给最合适的人，企业支付推荐佣金以及面试佣金至个人猎头。
    </div>
  </div>
  <!-- inde 新增三（企业） -->
  <div class="index-add-qiye">
    <h3>企业</h3>
    <div class="our-pingtai">
      <div class="fl pingtai-left">
        <img src="/static/images/a2.jpg" alt="" style="width:200px;height200px;">
      </div>
      <div class="fr pingtai-right">
        <div class="twp-text">
          <p>让速职的5000猎头为你挑选合适人才</p>
          <p>让速职的5000猎头为你传播招聘信息</p>
          <p>让速职的5000猎头为你降低招聘成本</p>
          <p>速职，让全世界帮你招聘</p>
          <p class="special-p">邀请你来企业入驻！！</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 3-3 -->
  <div class="index-add-qiye-fu">
    <div class="qiye">
      【速职】让每一个人都成为猎头，充分发挥个人价值，<br/>通过了解、熟悉，人性化给身边的朋友推荐工作，且获取企业招聘佣金，打造人脉共享经济生态。
    </div>
  </div>
  <!-- inde 新增三（求职者） -->
  <div class="index-add-qizhizhe">
    <h3>求职者</h3>
    <div class="our-pingtai">
      <div class="fl pingtai-left">
        <img src="/static/images/a3.jpg" alt="" style="width:200px;height200px;">
      </div>
      <div class="fr pingtai-right">
        <div class="twp-text">
          <p>速职为你过滤垃圾内容，只传递最有效的信息</p>
          <p>速职为你提供精准匹配，只推荐最适合的职位</p>
          <p>速职为你求职路上把关，只筛选最优质的岗位</p>
          <p>速职，让最了解你的人给你推荐工作</p>
          <p class="special-p">邀请你来求职！！</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 4-4 -->
  <div class="index-add-qiuzhizhe-fu">
    <div class="qiuzhizhe">
      【速职】您的“私人求职管家”，<br/>联手个人猎头替你层层严守把关，屏蔽骚扰信息，让真正有价值的信息以最快的速度传递到你手里。
    </div>
  </div>
  <!--  -->
  <div id="generalize_bottom">
    <div class="main table">
      <div class="table_row">
        <div class="list_item table_cell">
          <p class="title">你身边有很多要找工作的人吗？<br>想要在业余时间多一份收入吗？
          </p>
          <a href="#" rel="nofollow" data-lg-tj-id="1Pk0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">成为猎头
        </a>
        </div>
        <div class="list_item table_cell">
          <p class="title">人才难找，低效，求介绍人才<br>让全世界帮你招聘，提供优质人才
          </p>
          <a href="#" data-lg-tj-id="1Pl0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">企业入驻
        </a>
        </div>
      </div>
    </div>
    <span class="or">or</span>
  </div>


  <!-- 内容结束 -->
  <!-- 底部开始 -->
  <% include ../include/footer.html %>
  <!-- 底部结束 -->
  <% include ../include/js_common.html %>
  <script coolie src="/node_modules/coolie.js/coolie.js" data-config="/static/js/coolie-config.js" data-main="/static/js/main/index.js"></script>
</body>

</html>
