<style>
  .carousel,
  .carousel div {
    width: 1920px;
    height: 550px;
    overflow: hidden;
  }
</style>
<div class="carousel">
  <div><img src="/static/images/index3.jpg" /></div>
  <div><img src="/static/images/index2.jpg" /></div>
  <div><img src="/static/images/index1.jpg" /></div>
</div>
<script src="/static/js/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script>
<script src="/static/js/plugins/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    var dur = 5000;
    var pDur = 5000;
    $('.carousel').carouFredSel({
      items: {
        visible: 1,
        width: 1920,
        height: 550
      },
      scroll: {
        fx: 'fade',
        easing: 'linear',
        duration: dur,
        timeoutDuration: pDur,
        onBefore: function(data) {
          animate(data.items.visible, pDur + (dur * 3));
        }
        ,
        onAfter: function(data) {
          data.items.old.find('img').stop().css({
            width: 1920,
            height: 550,
            marginTop: 0,
            marginLeft: 0
          });
        }
      },
      onCreate: function(data) {
        animate(data.items, pDur + (dur * 2));
      }
    });

    function animate(item, dur) {
      var obj = {
        width: 1920,
        height: 550
      };

      switch (1) {
        case 1:
          obj.height = 650;
          obj.width = 2400;
          break;
      }
      item.find('img').animate(obj, dur, 'linear');
    }

  });
</script>
