<div id="header" class="header_hyaline">
  <div id="lgfree_head">
    <div class="fl logo">
      <img src="/static/images/123.png" alt="速职">
    </div>
    <ul class="fl nav">
      <li>
        <a href="/">首页</a>
      </li>
      <li>
        <a href="/about/">关于我们</a>
      </li>
      <li>
        <a href="/guide/">新手指南</a>
      </li>
    </ul>
    <div class="fr free_entry">
      <div class="app_qrcode fr">
        <div class="default_app">
          <span class="gongzhonghao">速职公众号</span>
        </div>
        <div class="qrcode">
          <span class="down_tips"></span>
          <img src="/static/images/erweima.jpg" alt="扫一扫二维码" width="140" height="140">
          <p class="tips">扫一扫二维码</p>
        </div>
      </div>
    </div>
  </div>
  <!--end #lgfree_head-->
</div>
