.top_extension {
  width: 100%;
  min-width: 1200px;
  z-index: 0;
}

.top_extension a,
.top_extension img {
  display: block;
}

.top_extension img {
  display: block;
  width: 1200px;
  margin: 0 auto;
}
@keyframes followCircle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

#top_banner {
  width: 100%;
  height: 550px;
  min-width: 1200px;
  border-bottom: 3px solid #E88C08;
  position: relative;
  z-index: 0;
  overflow:hidden;
  .slogan {
    width: 100%;
    position: absolute;
    top: 165px;
    font-size: 50px;
    color: #fff;
    letter-spacing: 6px;
    text-align: center;
    line-height: 50px;
  }

  .slogan_supply {
    width: 100%;
    position: absolute;
    top: 250px;
    font-size: 26px;
    line-height: 24px;
    color: #fff;
    text-align: center;
  }

  .btn_bar {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 330px;
    z-index: 1;
    margin-left: -500px;
    text-align: center;

    a {
      display: inline-block;
      width: 168px;
      height: 60px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 18px;
      color: #fff;
      margin: 0 10px;
    }
  }

  .join_btn {
    background: 0 0;
    border: 2px solid #eaeaeb;
    line-height: 56px;
  }

  .create_btn {
    background-color: #E88C08;
    line-height: 60px;
  }

  .banner_list {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & > li {
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
      zoom: 1;
      position: absolute;
      left: -3%;
      top: 0;
      z-index: 0;
      width: 106%;
      height: 106%;
      opacity: 0;

      &:after,
      &:before {
        content: "";
        display: table;
      }

      &:after {
        clear: both;
        overflow: hidden;
      }

      .focus {
        z-index: 1;
        opacity: 1;
        animation: bigger 5s linear;
        background: url("/static/images/index2.jpg") no-repeat;
      }
    }
  }

  .join_count_cotainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    height: 0;
  }

  .join_count {
    position: absolute;
    right: 0;
    top: 2px;
    padding: 30px 10px;
    min-width: 140px;
    background-color: #3dca99;
    color: #fff;
    text-align: center;

    .count {
      font-size: 36px;
    }
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }
}
@keyframes bigger {
  from {
    width: 100%;
    height: 100%;
    left: 0;
  }

  to {
    width: 106%;
    height: 106%;
    left: -3%;
  }
}
@media screen and (max-width:1920px) {
  #top_banner .banner_list > li img {
    width: auto;
    height: 100%;
  }
}
@media screen and (min-width:1920px) {
  #top_banner .banner_list > li img {
    width: 100%;
    height: auto;
  }
}

#generalize_bottom {
  position: relative;
  min-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #e9ebf0;
  overflow: hidden;
}

#generalize_bottom .main {
  position: relative;
  width: 1200px;
  padding: 48px 0;
  margin: 0 auto;
  height: 200px;
  line-height: 60px;
}

#generalize_bottom p {
  line-height: 42px;
}

#generalize_bottom .list_item {
  vertical-align: middle;
  position: relative;
  z-index: 1;
  zoom: 1;
  text-align: center;
  width: 50%;
}

#generalize_bottom .list_item:after,
#generalize_bottom .list_item:before {
  content: "";
  display: table;
}

#generalize_bottom .list_item:after {
  clear: both;
}

#generalize_bottom .list_item:nth-child(2) {
  border-left: 1px solid #d7d9de;
}

#generalize_bottom .title {
  width: 100%;
  margin: 0;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
}

#generalize_bottom a {
  text-align: center;
  display: inline-block;
  width: 166px;
  height: 56px;
  line-height: 56px;
  border: 2px solid #E88C08;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  font-size: 16px;
  background-color: #E88C08;
  margin-top: 30px;
}

#generalize_bottom a.hollow_btn {
  background: 0 0;
  color: #3dca99;
}

#generalize_bottom .or {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin-left: -16px;
  width: 32px;
  margin-top: -26px;
  font-size: 18px;
  color: #999;
  line-height: 52px;
  background-color: #e9ebf0;
  text-align: center;
}

.nav_banner {
  position: relative;
}

#content_container {
  min-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
}

#header {
  display: none;
}

.free_h3 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}

.free_h3_tips {
  font-size: 16px;
  text-align: center;
}

.free_h4 {
  color: #333;
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 48px 0 26px;
}

.sub_title {
  position: relative;
}

.sub_title .more {
  position: absolute;
  right: 0;
  top: 48px;
  line-height: 33px;
  color: #666;
  font-size: 16px;
}
/*主页新增某块1*/
.index-add-one {
  /*width: 100%;*/
  width:1200px;
  margin:0px auto;
  text-align: center;
  margin-top: 2rem;
}

.index-add-one h3 {
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 8rem;
  font-size: 30px;
  color: #E88C08;
  // text-shadow: 2px 1px 0 brown;
}

.index-add-one .our-pingtai {
  margin: 0 auto;
}

.pingtai-left {
  float: left;
  display: inline-block;
  width: 50%;
}

.pingtai-right {
  display: inline-block;
  width: 50%;
}

.pingtai-right .one-text {
  text-align: left;
  width: 400px;
  line-height: 2rem;
  font-size: 16px;
}
/*点击按的弹出框*/
.erweima-kuang {
  position: absolute;
  top: -132%;
  left: 39%;
  width: 250px;
  height: 250px;
  border: 1px solid #aaa;
  background: #fff;
  display: none;
}

.kuang-content {
  padding: 10px;
}

.close {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  width: 30px;
  height: 30px;
  background: #FF8F2A;
  border-radius: 50%;
  float: right;
}

.kuang-content img {
  margin-top: 2rem;
  margin-left: 1.7rem;
  vertical-align: middle;
}
/**/
.twp-text p {
  text-align: left;
  font-size: 16px;
  text-shadow: 0 0 0 #aaa;
}

.twp-text {
  padding-top: 2.5rem;
}
/* about.html */
.top_slogan {
  width: 100%;
  height: 300px;
  min-width: 1200px;
  margin: 0 auto;
  line-height: 320px;
  background: url("/static/images/top-bg.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.top_extension {
  width: 100%;
  min-width: 1200px;
  z-index: 0;
}

.top_extension a,
.top_extension img {
  display: block;
}

.top_extension img {
  display: block;
  width: 1200px;
  margin: 0 auto;
}
/*!project/modules/project-list/main.less*/
@keyframes followCircle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

#pager {
  display: none;
  margin: 35px 0 10px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

#pager span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin-right: 14px;
  cursor: pointer;
  font-size: 16px;
  border: solid 1px #cecece;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#pager .pages {
  width: 34px;
}

#pager .page_next,
#pager .page_prev {
  width: 72px;
}

#pager .disabled {
  color: #e1e1e1;
  border-color: #e1e1e1;
  cursor: text;
}

#pager .focus {
  color: #fff;
  background-color: #272b32;
}

#pager .pager_wrapper {
  display: inline;
}

#project_content {
  width: 1200px;
  margin: 0 auto;
}

#project_content .tabs_list {
  zoom: 1;
  border-bottom: 1px solid #F5B767;
  line-height: 52px;
  margin-top: 18px;
}

#project_content .tabs_list:after,
#project_content .tabs_list:before {
  content: "";
  display: table;
}

#project_content .tabs_list:after {
  clear: both;
}

#project_content .tabs_list a {
  float: left;
  padding: 0 18px;
  font-size: 16px;
  color: #999;
  cursor: pointer;
}

#project_content .tabs_list a.active {
  color: #F58E05;
  line-height: 49px;
  font-weight: 700;
  border-bottom: 3px solid #F58E05;
  margin-bottom: -1px;
}

#project_list .empty {
  margin-top: 160px;
  padding-top: 152px;
  /*  background: url(/parttime-jobs/static/project/modules/common/img/empty_5f7c29b.png) no-repeat center top;*/
  background-size: 125px 120px;
  text-align: center;
  color: #555;
}

#project_list ul {
  zoom: 1;
  margin-top: 14px;
  text-align: center;
}

#project_list ul:after,
#project_list ul:before {
  content: "";
  display: table;
}

#project_list ul:after {
  clear: both;
}

#project_list ul > li {
  position: relative;
  width: 318px;
  height: 350px;
  padding: 38px 25px 0;
  float: left;
  border: 1px solid #ccc;
  margin: 30px 0 0 45px;
  cursor: pointer;
}

#project_list ul > li:nth-child(3n+1) {
  margin-left: 0;
}

#project_list ul > li:hover {
  border: 1px solid #F58E05;
}

#project_list ul li img {
  width: 200px;
  height: 258px;
}

#project_list ul li h5 {
  font-size: 18px;
  line-height: 0;
}

#project_list .status span {
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#project_list .status span.recruiting {
  background-color: #3dca99;
}

#project_list .status span.working {
  background-color: #ed7266;
}

#project_list .status span.over {
  background-color: #ccc;
}

#project_list h3 {
  margin: 34px 0 0;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

#project_list .price {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

#project_list .range {
  color: #ff734b;
}

#project_list .category_list {
  margin-top: 22px;
  height: 54px;
  overflow: hidden;
}

#project_list .category_tag {
  display: inline-block;
  height: 18px;
  padding: 2px 8px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f0f2f5;
  font-size: 12px;
  color: #82888a;
  margin: 3px 5px;
}

#project_list .bottom_data {
  margin-top: 40px;
  zoom: 1;
}

#project_list .bottom_data:after,
#project_list .bottom_data:before {
  content: "";
  display: table;
}

#project_list .bottom_data:after {
  clear: both;
}

#project_list .bottom_data > div {
  width: 33.3%;
  height: 38px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px dotted #d9d9d9;
  text-align: center;
}

#project_list .bottom_data > div:last-child {
  border-right: 0;
}

#project_list .bottom_data .title {
  transform: translateY(-4px);
  color: #999;
}

#project_list .bottom_data .txt {
  font-size: 12px;
  color: #666;
}

#project_list .bottom_data .txt strong {
  font-size: 18px;
}

#project_list .time {
  margin-top: 50px;
  text-align: center;
  color: #999;
}

#project_list .time .icons {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #666;
  margin-right: 8px;
}

#project_list .time .txt {
  display: inline-block;
  vertical-align: middle;
}

#pager {
  margin: 120px 0 0;
}
/*!project/page/project-list/main.less*/
#content_container {
  min-width: 1200px;
  margin: 0 auto;
}
/*关于我们新增模块一*/
.about-add-one {
  width: 100%;
  text-align: center;
  margin-bottom: 27rem;
  margin-top: 7rem;
}

.about-add-one-content {
  margin: 0 auto;
}

.about-add-one-left {
  width: 35%;
}

.about-add-one-right {
  width: 65%;
  text-align: left;
  margin-top: 4rem;
  font-size: 21px;
  line-height: 38px;
}
/*新增模块二*/
.content-wrap .event-tree .tree-wrap {
  margin: 100px 0;
}

.content-wrap h2 {
  text-align: left;
  margin-left: 14rem !important;
  margin-bottom: 6rem !important;
}

.content-wrap .event-tree .tree-wrap .text-wrap {
  position: relative;
}

.content-wrap .event-tree .tree-wrap .text-wrap .date {
  color: #FF8C1C;
  font-size: 13px;
  margin-bottom: 5px;
  line-height: normal;
}

.content-wrap .event-tree .tree-wrap .text-wrap .year {
  font-size: 14px;
}

.content-wrap .event-tree .tree-wrap .text-wrap .event {
  font-size: 14px;
  line-height: normal;
}

.content-wrap .event-tree .node-left {
  position: relative;
  text-align: right;
  padding-right: 50%;
  overflow: hidden;
  margin-top: -48px;
}

.content-wrap .event-tree .node-left .leaf-group {
  float: right;
  margin-left: 68px;
  margin-right: -1px;
}

.content-wrap .event-tree .node-left .leaf-group:before {
  left: 50%;
  margin-left: -50px;
}

.content-wrap .event-tree .node-left .leaf-group:after {
  left: 50%;
  margin-left: -42px;
}

.content-wrap .event-tree .node-left .leaf {
  border: 2px solid #FF8C1C;
  left: 50%;
  margin-left: -14px;
}

.content-wrap .event-tree .node-left.last .leaf-group {
  background-color: #ffffff;
}

.content-wrap .event-tree .node-right {
  position: relative;
  text-align: left;
  padding-left: 50%;
  overflow: hidden;
  margin-top: -48px;
}

.content-wrap .event-tree .node-right .leaf-group {
  float: left;
  margin-right: 68px;
  margin-left: -1px;
}

.content-wrap .event-tree .node-right .leaf-group:before {
  right: 50%;
  margin-right: -50px;
}

.content-wrap .event-tree .node-right .leaf-group:after {
  right: 50%;
  margin-right: -42px;
}

.content-wrap .event-tree .node-right .leaf {
  border: 2px solid #FF8C1C;
  right: 50%;
  margin-right: -14px;
}

.content-wrap .event-tree .node-right .leaf:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #FF8C1C;
  border-radius: 50%;
  margin-left: 6px;
  margin-top: 6px;
}

.content-wrap .event-tree .node-right.last .leaf-group {
  background-color: #ffffff;
}

.content-wrap .event-tree .leaf-group {
  display: inline-block;
  height: 75px;
  width: 2px;
  background-color: #FF8C1C;
  margin-top: 48px;
}

.content-wrap .event-tree .leaf-group:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FF8C1C;
  border-radius: 50%;
  top: 30px;
}

.content-wrap .event-tree .leaf-group:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #FF8C1C;
  top: 34px;
}

.content-wrap .event-tree .leaf {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 20px;
}
/* new.html */
.icon-01:before {
  content: "01";
  color: #FF8C1C;
}

.icon-02:before {
  content: "02";
  color: #FF8C1C;
}

.icon-03:before {
  content: "03";
  color: #FF8C1C;
}

.icon-04:before {
  content: "04";
  color: #FF8C1C;
}

.icon-05:before {
  content: "05";
  color: #FF8C1C;
}
@keyframes followCircle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

#content_container > div {
  width: 1200px;
  margin: 0 auto;
}

#content_container .main_title {
  width: 100%;
  min-width: 1200px;
  height: 300px;
  margin: 0 auto;
  line-height: 320px;
  color: #fff;
  font-size: 50px;
  text-align: center;
  background: url("/static/images/step_banner.png") no-repeat;
  background-size: cover;
}

h3 {
  font-size: 26px;
  margin: 0;
}

.sub_title {
  position: relative;
  text-align: center;
  line-height: 34px;
}

.sub_title .more {
  position: absolute;
  right: 36px;
  top: 0;
  color: #3dca99;
}

.sub_title .more:after {
  content: '';
  display: inline-block;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #3dca99;
  margin-left: 8px;
}

.usage_step {
  padding: 82px 0 90px;
  border-bottom: 1px solid #ebebeb;
}

.usage_step.employer .icons {
  color: #FF8C1C;
}

.usage_step.employer li .line {
  color: #FF8C1C;
}

.usage_step ol {
  zoom: 1;
  margin-top: 70px;
}

.usage_step ol:after,
.usage_step ol:before {
  content: "";
  display: table;
}

.usage_step ol:after {
  clear: both;
}

.usage_step li {
  position: relative;
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}

.usage_step li:last-child .line {
  display: none;
}

.usage_step li .icons {
  font-size: 32px;
}

.usage_step li .line {
  position: absolute;
  left: 100%;
  top: 15px;
  bottom: 90px;
  width: 88px;
  margin-left: -44px;
  line-height: 28px;
  border-bottom: 1px dashed #FF8C1C;
  font-size: 12px;
}

.usage_step li span {
  display: block;
}

.usage_step li .title {
  margin-top: 24px;
  font-size: 16px;
}

.usage_step li .tips {
  margin-top: 4px;
  font-size: 12px;
  color: #999;
}

.usage_list {
  padding-top: 82px;
}

.usage_list ul {
  margin: 70px 32px 0;
  zoom: 1;
}

.usage_list ul:after,
.usage_list ul:before {
  content: "";
  display: table;
}

.usage_list ul:after {
  clear: both;
}

.usage_list li {
  width: 306px;
  margin: 0 auto;
}

.usage_list li .title {
  line-height: 38px;
  margin-bottom: 20px;
  font-size: 22px;
}

.usage_list li .icons {
  color: #656766;
  font-size: 38px;
  margin-right: 18px;
  vertical-align: middle;
}

.usage_list li p {
  position: relative;
  line-height: 24px;
  margin-left: 14px;
}

.usage_list li p:before {
  position: absolute;
  left: -14px;
  top: 8px;
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #333;
}
